@font-face {
    font-family: 'SST';
    src: local('SST Light'), local('SST-Light'),
        url('SST-Light.woff2') format('woff2'),
        url('SST-Light.woff') format('woff'),
        url('SST-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }