@font-face {
    font-family: SST_light;
    src: url("../../sources/Font/SST_light/SST-Light.ttf");
}

@font-face {
    font-family: SST_UL;
    src: url("../../sources/Font/SST_UL/SST-UltraLight.ttf");
}

body {
    margin: 0;
    overflow-x: hidden;  
}

.img_playstation5_start {
    position: relative;
    left: -0.3vw;
    width: 99.4vw;
    padding: 0;
    margin: 0;
}

.text_playstation5_start {
    font-size: 4vw;
    font-family: SST_light;
    color: whitesmoke;
    position: relative;
    top: -25vw;
    left: 12vw;
}

.logo_playstation5_start {
    height: 3vw;
    position: relative;
    top: -37vw;
    left: 17vw;
}

.start_text {
    transform: translate(0px, -5%);
    transition: all 0.8s ease 0s;
    opacity: 0;
}

.start_text._active{
    transform: translate(0px, 0px);
    opacity: 1;
}

.slogan_playstation5_main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.spm {
    margin: -15px;
    font-size: 8vw;
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.3px gray;
    position: relative;
    top: -8vw;
}

.li_spec {
    list-style-type: none;
    position: relative;
    margin: 1.1vw;
    font-size: 2.8vw;
    font-family: SST_light;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    margin: 0; 
    padding: 0; 
    list-style: none; 
    text-align: center;
}

section {
    position: relative;
    top: -73vw;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vw; 
    overflow: hidden;
}

.grid_container_main2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "main2";
    justify-content: center;
}

.main2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "lighting_speed_container"
      "photo_text_lighting_speed";
    grid-area: main2;
    justify-content: center;
}

.lighting_speed_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "img_all_playstation5_for_main_for_img"
      "lightning_speed_container_text";
    grid-area: lighting_speed_container;
}

.img_all_playstation5_for_main_for_img {
    grid-area: img_all_playstation5_for_main_for_img;
}

.lightning_speed_container_text {
    grid-area: lightning_speed_container_text;
}

.photo_text_lighting_speed {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "lighting_ssd lighting_i_o";
    grid-area: photo_text_lighting_speed;
}

.lighting_ssd {
    grid-area: lighting_ssd;
    background-color: aqua;
    justify-content: center;
}

.lighting_i_o {
    grid-area: lighting_i_o;
    background-color: antiquewhite
}

.img_all_playstation5_for_main {
    width: 85vw;
    position: relative;
    left: 5.9vw;
}

.lighting_i_o_img {
    width: 15.5vw;
    position: relative;
    left: 16.6vw;
}

.lighting_ssd_img {
    width: 15.5vw;
    position: relative;
    left: 16.6vw;
}

.lighting_speed {
    font-family: SST_UL;
    font-size: 3vw;
    position: relative;
    left: 33vw;
    color: black;
}

.lighting_speed_text {
    font-family: SST_light;
    font-size: 1.5vw;
    color: gray;
    text-align: center;
}