body {
    background-color: #e0dee0;
}

.carousellll {
    position: relative;
    top: 3vw;
    left: 50vw;
}

.carousel-inner {
    height: 100vh;   
}

.carousel-control-next {
    position: relative;
    left: 55vw;
}

.carousel-item {
    position: relative;
    left: 39vw;
}

.btn_ctl {
    position: relative;
    top: -10vw;
    background-color: rgb(157, 255, 0);
}

.carousel-control-prev {
    background: red;
}

.carousel-control-prev {
    position: relative;
    right: 249vw;
}